<!DOCTYPE html>
<html>
<head>
    <title>Animator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container">
         <h1>ANIMATOR</h1>
         <p id="description" class="text-white">Learn animation techniques through interactive lessons and quizzes.</p>
         <button id="start-button" class="start-button">Start Learning</button>
    </div>

    <script src="{{ url_for('static', filename='homepage.js') }}"></script>
</body>
</html>