<!DOCTYPE html>
<html>
<head>
    <title>Animator</title>
    <link rel="stylesheet" type="text/css" href="../static/homepage.css"> <!-- Adjust the path as needed -->
    <meta charset="UTF-8"> 
</head>

<body>

    <div class="container">
         <h1>ANIMATOR</h1>
         <p id="description" class="text-white">Learn animation techniques through interactive lessons and quizzes.</p>
         <button id="start-button" class="start-button">Start Learning</button>
    </div>

    <script src="../static/homepage.js"></script> <!-- Adjust the path as needed -->
</body>
</html>